# Data Frame Operations – Analytic Functions

As part of this session, we will see advanced operations such as aggregations, ranking, and windowing functions within each group using APIs such as over, partitionBy etc. We will also build a solution to the problem and run it on a multinode cluster.

* Window Functions – APIs
* Problem Statement – Get top n products per day
* Creating Window Spec
* Performing Aggregations
* Using Windowing Functions
* Ranking Functions
* Development Life Cycle

### Window Functions – APIs

Let us understand APIs related to aggregations, ranking and windowing functions.

* Main package **org.apache.spark.sql.expressions**
* It has classes such as **Window** and **WindowSpec**
* Window have APIs such as **partitionBy, orderBy** etc
* These APIs (such as partitionBy) return WindowSpec object. We can pass **WindowSpec** object to **over** on functions such as **rank(), dense_rank(), sum()** etc
* Syntax: **rank().over(spec) where spec = Window.partitionBy(‘ColumnName’)**
* Aggregations – **sum, avg, min, max** etc
* Ranking – **rank, dense_rank, row_number** etc
* Windowing – **lead, lag** etc

In [1]:
import org.apache.spark.sql.functions._

In [2]:
val orderItems = spark.
  read.
  json("/public/retail_db_json/order_items")

import org.apache.spark.sql.expressions._
spark.conf.set("spark.sql.shuffle.partitions", "2")

val spec = Window.partitionBy("order_item_order_id")
val orderItemsWithRevenue = orderItems.
  withColumn("order_revenue", sum($"order_item_subtotal").over(spec))

orderItemsWithRevenue.printSchema
orderItemsWithRevenue.show

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)
 |-- order_revenue: double (nullable = true)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|     order_revenue|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+------------------+
|            2|                  2|                 1073|                  199.99|                  1|             199.99|            579.98|
|            3|                  2|                  502|                    50.0|                  5|              250.0|            579.98|
|            4|                  2|                  403|                  129.99|                  1|             129.99|            579.98|
|            5|                  4|                  897|                   24.99|                  2|              49.98|            699.85|
|            6|                  4|                  365|                   59.99|                  5|             299.95|            699.85|
|            7|                  4|                  502|                    50.0|                  3|              150.0|            699.85|
|            8|                  4|                 1014|                   49.98|                  4|             199.92|            699.85|
|            9|                  5|                  957|                  299.98|                  1|             299.98|1129.8600000000001|
|           10|                  5|                  365|                   59.99|                  5|             299.95|1129.8600000000001|
|           11|                  5|                 1014|                   49.98|                  2|              99.96|1129.8600000000001|
|           12|                  5|                  957|                  299.98|                  1|             299.98|1129.8600000000001|
|           13|                  5|                  403|                  129.99|                  1|             129.99|1129.8600000000001|
|           17|                  8|                  365|                   59.99|                  3|             179.97| 729.8399999999999|
|           18|                  8|                  365|                   59.99|                  5|             299.95| 729.8399999999999|
|           19|                  8|                 1014|                   49.98|                  4|             199.92| 729.8399999999999|
|           20|                  8|                  502|                    50.0|                  1|               50.0| 729.8399999999999|
|           34|                 12|                  957|                  299.98|                  1|             299.98|1299.8700000000001|
|           35|                 12|                  134|                    25.0|                  4|              100.0|1299.8700000000001|
|           36|                 12|                 1014|                   49.98|                  3|             149.94|1299.8700000000001|
|           37|                 12|                  191|                   99.99|                  5|             499.95|1299.8700000000001|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+------------------+
only showing top 20 rows

orderItems = [order_item_id: bigint, order_item_order_id: bigint ... 4 more fields]
spec = org.apache.spark.sql.expressions.WindowSpec@7997266d
orderItemsWithRevenue = [order_item_id: bigint, order_item_order_id: bigint ... 5 more fields]

[order_item_id: bigint, order_item_order_id: bigint ... 5 more fields]

### Problem Statement – Get top n products per day

Let us define the problem statement and see the real usage of analytics function.

* Problem Statement – Get top N Products Per day
* Get daily product revenue code from the previous topic
* Use ranking functions and get the rank associated based on revenue for each day
* Once we get rank, let us filter for top n products.

# spark-dataframes-01-build.sbt

name := "SparkDemo"

version := "0.1"

scalaVersion := "2.11.8"

libraryDependencies += "com.typesafe" % "config" % "1.3.2"
libraryDependencies += "org.apache.spark" %% "spark-sql" % "2.3.2"

# spark-dataframes-02-application.properties

dev.execution.mode = local
dev.input.base.dir = C:\\data\\retail_db\\
dev.output.base.dir = C:\\data\\scalaspark\\

devu.execution.mode = local
devu.input.base.dir = /mnt/c/data/retail_db/
devu.output.base.dir = /mnt/c/data/bootcamp/scalaspark/

devm.execution.mode = local
devm.input.base.dir = /Users/itversity/Research/data/retail_db/
devm.output.base.dir = /Users/itversity/Research/data/scalaspark/

prod.execution.mode = yarn-client
prod.input.base.dir = /public/retail_db/
prod.output.base.dir = /user/training/bootcamp/scalaspark/

// spark-dataframes-03-daily-product-revenue.scala

package retail_db_df

import com.typesafe.config.ConfigFactory
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions.{round, sum}

/**
  * Created by itversity on 15/12/18.
  */
object GetDailyProductRevenueDF {
  def main(args: Array[String]): Unit = {

    val props = ConfigFactory.load
    val env = args(0)
    val envProps = props.getConfig(env)

    val spark = SparkSession.
    builder.
    appName("Daily Product Revenue using Data Frame Operations").
    master(envProps.getString("execution.mode")).
    getOrCreate

    spark.conf.set("spark.sql.shuffle.partitions", "2")

    val inputBaseDir = envProps.getString("input.base.dir")
    val ordersCSV = spark.read.
      csv(inputBaseDir + "orders").
      toDF("order_id", "order_date", "order_customer_id", "order_status")

    val orderItemsCSV = spark.read.
      csv(inputBaseDir + "order_items").
      toDF("order_item_id", "order_item_order_id", "order_item_product_id",
      "order_item_quantity", "order_item_subtotal", "order_item_product_price")

    import spark.implicits._

    val orders = ordersCSV.
      withColumn("order_id", $"order_id".cast("int")).
      withColumn("order_customer_id", $"order_customer_id".cast("int"))

    val orderItems = orderItemsCSV.
      withColumn("order_item_id", $"order_item_id".cast("int")).
      withColumn("order_item_order_id", $"order_item_order_id".cast("int")).
      withColumn("order_item_product_id", $"order_item_product_id".cast("int")).
      withColumn("order_item_quantity", $"order_item_quantity".cast("int")).
      withColumn("order_item_subtotal", $"order_item_subtotal".cast("float")).
      withColumn("order_item_product_price", $"order_item_product_price".cast("float"))

    val dailyProductRevenue = orders.
      where("order_status in ('COMPLETE', 'CLOSED')").
      join(orderItems, $"order_id" === $"order_item_order_id").
      groupBy("order_date", "order_item_product_id").
      agg(round(sum($"order_item_subtotal"), 2).alias("revenue"))

    val dailyProductRevenueSorted = dailyProductRevenue.
      orderBy($"order_date", $"revenue".desc)

    val outputBaseDir = envProps.getString("output.base.dir")
    dailyProductRevenueSorted.write.csv(outputBaseDir + "daily_product_revenue")
  }
}

# spark-dataframes-04-daily-product-revenue.sh

spark-submit \
  --master yarn \
  --class retail_db_df.GetDailyProductRevenueDF \
  --deploy-mode client \
  --conf spark.ui.port=12901 \
  sparkdemo_2.11-0.1.jar prod

### Creating Window Spec

Let us see how to create Window Spec.

* Window have APIs such as partitionBy, orderBy
* For aggregations, we can define the group by using partitionBy
* For ranking or windowing, we need to use partitionBy and then orderBy. partitionBy is to group the data and orderBy is to sort the data to assign rank.
* partitionBy or orderBy returns WindowSpec object
* WindowSpec object needs to be passed to over with ranking and aggregate functions.

### Performing aggregations

Let us see how to perform aggregations within each group.

* We have functions such as sum, avg, min, max etc which can be used to aggregate the data.
* We need to create WindowSpec object using partitionBy to get aggregations within each group.

In [6]:
// spark-dataframes-aggregations-01-read-data.scala

val employeesPath = "/public/hr_db/employees"

val employeesRaw = spark.
  read.
  text(employeesPath).
  as[String]

val employees = employeesRaw.map(rec => {
  val r = rec.split("\t")
  (r(0).toInt, r(1), r(2), r(3),
   r(4), r(5), r(6), r(7).toFloat,
   r(8), r(9), r(10)
  )
}).toDF("employee_id", "first_name", "last_name", "email",
        "phone_number", "hire_date", "job_id", "salary",
        "commission_pct", "manager_id", "department_id")

spark.conf.set("spark.sql.shuffle.partitions", "2")

employeesPath = /public/hr_db/employees
employeesRaw = [value: string]
employees = [employee_id: int, first_name: string ... 9 more fields]

[employee_id: int, first_name: string ... 9 more fields]

In [3]:
// spark-dataframes-aggregations-02-define-spec.scala

import org.apache.spark.sql.expressions.Window

val spec = Window.partitionBy("department_id")

spec = org.apache.spark.sql.expressions.WindowSpec@2b63be8e

org.apache.spark.sql.expressions.WindowSpec@2b63be8e



// SELECT employee_id, salary, department_id,
//   sum(salary) OVER (PARTITION BY department_id) department_salary_expense
// FROM employees
// ORDER BY department_id, salary DESC;

 
val employeesSalary = employees.
  select("employee_id", "salary", "department_id").
  withColumn("department_salary_expense", sum($"salary").over(spec)).
  orderBy($"department_id", $"salary".desc)

// We can directly invoke over with WindowSpec object
// without creating variable
val employeesSalary = employees.
  select("employee_id", "salary", "department_id").
  withColumn("department_salary_expense", sum($"salary").over(Window.partitionBy("department_id"))).
  orderBy($"department_id", $"salary".desc)

* Some realistic use cases
    * Get the average salary for each department and get all employee details who earn more than the average salary
    * Get average revenue for each day and get all the orders who earn revenue more than average revenue
    * Get the highest order revenue and get all the orders which have revenue more than 75% of the revenue

### Using Windowing Functions

Let us see details about windowing functions within each group

* We have functions such as lead, lag, first, last etc
* We need to create WindowSpec object using partitionBy and then orderBy for most of the windowing functions
* lead and lag take any column using which you want to get information based on partition and order columns.
* Some realistic use cases
    * The salary difference between current and next/previous employee within each department

In [6]:
// spark-dataframes-windowing-01-read-data.scala

// val employeesPath = "/Users/itversity/Research/data/hr_db/employees/part-00000"
val employeesPath = "/public/hr_db/employees"

val employeesRaw = spark.
  read.
  text(employeesPath).
  as[String]

val employees = employeesRaw.map(rec => {
  val r = rec.split("\t")
  (r(0).toInt, r(1), r(2), r(3),
   r(4), r(5), r(6), r(7).toFloat,
   r(8), r(9), r(10)
  )
}).toDF("employee_id", "first_name", "last_name", "email",
        "phone_number", "hire_date", "job_id", "salary",
        "commission_pct", "manager_id", "department_id")

spark.conf.set("spark.sql.shuffle.partitions", "2")

employeesPath = /public/hr_db/employees
employeesRaw = [value: string]
employees = [employee_id: int, first_name: string ... 9 more fields]

[employee_id: int, first_name: string ... 9 more fields]

In [7]:
// spark-dataframes-windowing-02-define-spec.scala

import org.apache.spark.sql.expressions.Window

val spec = Window.
  partitionBy("department_id").
  orderBy($"salary".desc)

spec = org.apache.spark.sql.expressions.WindowSpec@2ff4441e

org.apache.spark.sql.expressions.WindowSpec@2ff4441e

In [8]:
// spark-dataframes-windowing-03-lead.scala

/*
SELECT employee_id, salary, department_id,
  lead(salary, 1) OVER (PARTITION BY department_id ORDER BY salary DESC) lead_salary
FROM employees
ORDER BY department_id, salary DESC;
 */

val employeesLead = employees.
  select("employee_id", "salary", "department_id").
  withColumn("lead_salary", lead($"salary", 1).over(spec)).
  orderBy($"department_id", $"salary".desc)

employeesLead.show(200)

+-----------+-------+-------------+-----------+
|employee_id| salary|department_id|lead_salary|
+-----------+-------+-------------+-----------+
|        200| 4400.0|           10|       null|
|        108|12000.0|          100|     9000.0|
|        109| 9000.0|          100|     8200.0|
|        110| 8200.0|          100|     7800.0|
|        112| 7800.0|          100|     7700.0|
|        111| 7700.0|          100|     6900.0|
|        113| 6900.0|          100|       null|
|        205|12000.0|          110|     8300.0|
|        206| 8300.0|          110|       null|
|        201|13000.0|           20|     6000.0|
|        202| 6000.0|           20|       null|
|        114|11000.0|           30|     3100.0|
|        115| 3100.0|           30|     2900.0|
|        116| 2900.0|           30|     2800.0|
|        117| 2800.0|           30|     2600.0|
|        118| 2600.0|           30|     2500.0|
|        119| 2500.0|           30|       null|
|        203| 6500.0|           40|       null|
|        121| 8200.0|           50|     8000.0|
|        120| 8000.0|           50|     7900.0|
|        122| 7900.0|           50|     6500.0|
|        123| 6500.0|           50|     5800.0|
|        124| 5800.0|           50|     4200.0|
|        184| 4200.0|           50|     4100.0|
|        185| 4100.0|           50|     4000.0|
|        192| 4000.0|           50|     3900.0|
|        193| 3900.0|           50|     3800.0|
|        188| 3800.0|           50|     3600.0|
|        189| 3600.0|           50|     3500.0|
|        137| 3600.0|           50|     3600.0|
|        141| 3500.0|           50|     3400.0|
|        186| 3400.0|           50|     3300.0|
|        133| 3300.0|           50|     3200.0|
|        129| 3300.0|           50|     3300.0|
|        194| 3200.0|           50|     3100.0|
|        180| 3200.0|           50|     3200.0|
|        125| 3200.0|           50|     3200.0|
|        138| 3200.0|           50|     3200.0|
|        181| 3100.0|           50|     3100.0|
|        196| 3100.0|           50|     3000.0|
|        142| 3100.0|           50|     3100.0|
|        187| 3000.0|           50|     3000.0|
|        197| 3000.0|           50|     2900.0|
|        190| 2900.0|           50|     2800.0|
|        134| 2900.0|           50|     2900.0|
|        130| 2800.0|           50|     2800.0|
|        183| 2800.0|           50|     2800.0|
|        195| 2800.0|           50|     2700.0|
|        139| 2700.0|           50|     2700.0|
|        126| 2700.0|           50|     2600.0|
|        199| 2600.0|           50|     2500.0|
|        198| 2600.0|           50|     2600.0|
|        143| 2600.0|           50|     2600.0|
|        191| 2500.0|           50|     2400.0|
|        140| 2500.0|           50|     2500.0|
|        144| 2500.0|           50|     2500.0|
|        182| 2500.0|           50|     2500.0|
|        131| 2500.0|           50|     2500.0|
|        127| 2400.0|           50|     2400.0|
|        135| 2400.0|           50|     2200.0|
|        128| 2200.0|           50|     2200.0|
|        136| 2200.0|           50|     2100.0|
|        132| 2100.0|           50|       null|
|        103| 9000.0|           60|     6000.0|
|        104| 6000.0|           60|     4800.0|
|        106| 4800.0|           60|     4200.0|
|        105| 4800.0|           60|     4800.0|
|        107| 4200.0|           60|       null|
|        204|10000.0|           70|       null|
|        145|14000.0|           80|    13500.0|
|        146|13500.0|           80|    12000.0|
|        147|12000.0|           80|    11500.0|
|        168|11500.0|           80|    11000.0|
|        148|11000.0|           80|    11000.0|
|        174|11000.0|           80|    10500.0|
|        162|10500.0|           80|    10000.0|
|        149|10500.0|           80|    10500.0|
|        150|10000.0|           80|    10000.0|
|        156|10000.0|           80|    10000.0|
|        169|10000.0|           80|     9600.0|
|        170| 9600.0|           80|     9500.0|
|        151| 9500.0|           80|     9500.0|
|        157| 9500.0|           80|     9500.0|
|        163| 9500.0|           80|     9000.0|
|        158| 9000.0|           80|     8800.0|
|        152| 9000.0|           80|     9000.0|
|        175| 8800.0|           80|     8600.0|
|        176| 8600.0|           80|     8400.0|
|        177| 8400.0|           80|     8000.0|
|        153| 8000.0|           80|     8000.0|
|        159| 8000.0|           80|     7500.0|
|        160| 7500.0|           80|     7400.0|
|        154| 7500.0|           80|     7500.0|
|        171| 7400.0|           80|     7300.0|
|        172| 7300.0|           80|     7200.0|
|        164| 7200.0|           80|     7000.0|
|        155| 7000.0|           80|     7000.0|
|        161| 7000.0|           80|     6800.0|
|        165| 6800.0|           80|     6400.0|
|        166| 6400.0|           80|     6200.0|
|        167| 6200.0|           80|     6200.0|
|        179| 6200.0|           80|     6100.0|
|        173| 6100.0|           80|       null|
|        100|24000.0|           90|    17000.0|
|        102|17000.0|           90|       null|
|        101|17000.0|           90|    17000.0|
|        178| 7000.0|         null|       null|
+-----------+-------+-------------+-----------+

employeesLead = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

In [9]:
// spark-dataframes-windowing-04-lag.scala

/*
SELECT employee_id, salary, department_id,
  lag(salary) OVER (PARTITION BY department_id ORDER BY salary DESC) lag_salary
FROM employees
ORDER BY department_id, salary DESC;
 */

val employeesLag = employees.
  select("employee_id", "salary", "department_id").
  withColumn("lag_salary", lag("salary", 1).over(spec)).
  orderBy($"department_id", $"salary".desc)

employeesLag.show(200)

+-----------+-------+-------------+----------+
|employee_id| salary|department_id|lag_salary|
+-----------+-------+-------------+----------+
|        200| 4400.0|           10|      null|
|        108|12000.0|          100|      null|
|        109| 9000.0|          100|   12000.0|
|        110| 8200.0|          100|    9000.0|
|        112| 7800.0|          100|    8200.0|
|        111| 7700.0|          100|    7800.0|
|        113| 6900.0|          100|    7700.0|
|        205|12000.0|          110|      null|
|        206| 8300.0|          110|   12000.0|
|        201|13000.0|           20|      null|
|        202| 6000.0|           20|   13000.0|
|        114|11000.0|           30|      null|
|        115| 3100.0|           30|   11000.0|
|        116| 2900.0|           30|    3100.0|
|        117| 2800.0|           30|    2900.0|
|        118| 2600.0|           30|    2800.0|
|        119| 2500.0|           30|    2600.0|
|        203| 6500.0|           40|      null|
|        121| 8200.0|           50|      null|
|        120| 8000.0|           50|    8200.0|
|        122| 7900.0|           50|    8000.0|
|        123| 6500.0|           50|    7900.0|
|        124| 5800.0|           50|    6500.0|
|        184| 4200.0|           50|    5800.0|
|        185| 4100.0|           50|    4200.0|
|        192| 4000.0|           50|    4100.0|
|        193| 3900.0|           50|    4000.0|
|        188| 3800.0|           50|    3900.0|
|        189| 3600.0|           50|    3600.0|
|        137| 3600.0|           50|    3800.0|
|        141| 3500.0|           50|    3600.0|
|        186| 3400.0|           50|    3500.0|
|        133| 3300.0|           50|    3300.0|
|        129| 3300.0|           50|    3400.0|
|        194| 3200.0|           50|    3200.0|
|        180| 3200.0|           50|    3200.0|
|        125| 3200.0|           50|    3200.0|
|        138| 3200.0|           50|    3300.0|
|        181| 3100.0|           50|    3100.0|
|        196| 3100.0|           50|    3100.0|
|        142| 3100.0|           50|    3200.0|
|        187| 3000.0|           50|    3100.0|
|        197| 3000.0|           50|    3000.0|
|        190| 2900.0|           50|    2900.0|
|        134| 2900.0|           50|    3000.0|
|        130| 2800.0|           50|    2900.0|
|        183| 2800.0|           50|    2800.0|
|        195| 2800.0|           50|    2800.0|
|        139| 2700.0|           50|    2800.0|
|        126| 2700.0|           50|    2700.0|
|        199| 2600.0|           50|    2600.0|
|        198| 2600.0|           50|    2600.0|
|        143| 2600.0|           50|    2700.0|
|        191| 2500.0|           50|    2500.0|
|        140| 2500.0|           50|    2500.0|
|        144| 2500.0|           50|    2500.0|
|        182| 2500.0|           50|    2500.0|
|        131| 2500.0|           50|    2600.0|
|        127| 2400.0|           50|    2500.0|
|        135| 2400.0|           50|    2400.0|
|        128| 2200.0|           50|    2400.0|
|        136| 2200.0|           50|    2200.0|
|        132| 2100.0|           50|    2200.0|
|        103| 9000.0|           60|      null|
|        104| 6000.0|           60|    9000.0|
|        106| 4800.0|           60|    4800.0|
|        105| 4800.0|           60|    6000.0|
|        107| 4200.0|           60|    4800.0|
|        204|10000.0|           70|      null|
|        145|14000.0|           80|      null|
|        146|13500.0|           80|   14000.0|
|        147|12000.0|           80|   13500.0|
|        168|11500.0|           80|   12000.0|
|        148|11000.0|           80|   11500.0|
|        174|11000.0|           80|   11000.0|
|        162|10500.0|           80|   10500.0|
|        149|10500.0|           80|   11000.0|
|        150|10000.0|           80|   10500.0|
|        156|10000.0|           80|   10000.0|
|        169|10000.0|           80|   10000.0|
|        170| 9600.0|           80|   10000.0|
|        151| 9500.0|           80|    9600.0|
|        157| 9500.0|           80|    9500.0|
|        163| 9500.0|           80|    9500.0|
|        158| 9000.0|           80|    9000.0|
|        152| 9000.0|           80|    9500.0|
|        175| 8800.0|           80|    9000.0|
|        176| 8600.0|           80|    8800.0|
|        177| 8400.0|           80|    8600.0|
|        153| 8000.0|           80|    8400.0|
|        159| 8000.0|           80|    8000.0|
|        160| 7500.0|           80|    7500.0|
|        154| 7500.0|           80|    8000.0|
|        171| 7400.0|           80|    7500.0|
|        172| 7300.0|           80|    7400.0|
|        164| 7200.0|           80|    7300.0|
|        155| 7000.0|           80|    7200.0|
|        161| 7000.0|           80|    7000.0|
|        165| 6800.0|           80|    7000.0|
|        166| 6400.0|           80|    6800.0|
|        167| 6200.0|           80|    6400.0|
|        179| 6200.0|           80|    6200.0|
|        173| 6100.0|           80|    6200.0|
|        100|24000.0|           90|      null|
|        102|17000.0|           90|   17000.0|
|        101|17000.0|           90|   24000.0|
|        178| 7000.0|         null|      null|
+-----------+-------+-------------+----------+

employeesLag = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

In [10]:
/*
SELECT employee_id, salary, department_id,
  first_value(salary) OVER (PARTITION BY department_id ORDER BY salary DESC) first_salary
FROM employees
ORDER BY department_id, salary DESC;
 */

val employeesFirst = employees.
  select("employee_id", "salary", "department_id").
  withColumn("first_salary", first("salary").over(spec)).
  orderBy($"department_id", $"salary".desc)

employeesFirst.show(200)

+-----------+-------+-------------+------------+
|employee_id| salary|department_id|first_salary|
+-----------+-------+-------------+------------+
|        200| 4400.0|           10|      4400.0|
|        108|12000.0|          100|     12000.0|
|        109| 9000.0|          100|     12000.0|
|        110| 8200.0|          100|     12000.0|
|        112| 7800.0|          100|     12000.0|
|        111| 7700.0|          100|     12000.0|
|        113| 6900.0|          100|     12000.0|
|        205|12000.0|          110|     12000.0|
|        206| 8300.0|          110|     12000.0|
|        201|13000.0|           20|     13000.0|
|        202| 6000.0|           20|     13000.0|
|        114|11000.0|           30|     11000.0|
|        115| 3100.0|           30|     11000.0|
|        116| 2900.0|           30|     11000.0|
|        117| 2800.0|           30|     11000.0|
|        118| 2600.0|           30|     11000.0|
|        119| 2500.0|           30|     11000.0|
|        203| 6500.0|           40|      6500.0|
|        121| 8200.0|           50|      8200.0|
|        120| 8000.0|           50|      8200.0|
|        122| 7900.0|           50|      8200.0|
|        123| 6500.0|           50|      8200.0|
|        124| 5800.0|           50|      8200.0|
|        184| 4200.0|           50|      8200.0|
|        185| 4100.0|           50|      8200.0|
|        192| 4000.0|           50|      8200.0|
|        193| 3900.0|           50|      8200.0|
|        188| 3800.0|           50|      8200.0|
|        189| 3600.0|           50|      8200.0|
|        137| 3600.0|           50|      8200.0|
|        141| 3500.0|           50|      8200.0|
|        186| 3400.0|           50|      8200.0|
|        133| 3300.0|           50|      8200.0|
|        129| 3300.0|           50|      8200.0|
|        194| 3200.0|           50|      8200.0|
|        180| 3200.0|           50|      8200.0|
|        125| 3200.0|           50|      8200.0|
|        138| 3200.0|           50|      8200.0|
|        181| 3100.0|           50|      8200.0|
|        196| 3100.0|           50|      8200.0|
|        142| 3100.0|           50|      8200.0|
|        187| 3000.0|           50|      8200.0|
|        197| 3000.0|           50|      8200.0|
|        190| 2900.0|           50|      8200.0|
|        134| 2900.0|           50|      8200.0|
|        130| 2800.0|           50|      8200.0|
|        183| 2800.0|           50|      8200.0|
|        195| 2800.0|           50|      8200.0|
|        139| 2700.0|           50|      8200.0|
|        126| 2700.0|           50|      8200.0|
|        199| 2600.0|           50|      8200.0|
|        198| 2600.0|           50|      8200.0|
|        143| 2600.0|           50|      8200.0|
|        191| 2500.0|           50|      8200.0|
|        140| 2500.0|           50|      8200.0|
|        144| 2500.0|           50|      8200.0|
|        182| 2500.0|           50|      8200.0|
|        131| 2500.0|           50|      8200.0|
|        127| 2400.0|           50|      8200.0|
|        135| 2400.0|           50|      8200.0|
|        128| 2200.0|           50|      8200.0|
|        136| 2200.0|           50|      8200.0|
|        132| 2100.0|           50|      8200.0|
|        103| 9000.0|           60|      9000.0|
|        104| 6000.0|           60|      9000.0|
|        106| 4800.0|           60|      9000.0|
|        105| 4800.0|           60|      9000.0|
|        107| 4200.0|           60|      9000.0|
|        204|10000.0|           70|     10000.0|
|        145|14000.0|           80|     14000.0|
|        146|13500.0|           80|     14000.0|
|        147|12000.0|           80|     14000.0|
|        168|11500.0|           80|     14000.0|
|        148|11000.0|           80|     14000.0|
|        174|11000.0|           80|     14000.0|
|        162|10500.0|           80|     14000.0|
|        149|10500.0|           80|     14000.0|
|        150|10000.0|           80|     14000.0|
|        156|10000.0|           80|     14000.0|
|        169|10000.0|           80|     14000.0|
|        170| 9600.0|           80|     14000.0|
|        151| 9500.0|           80|     14000.0|
|        157| 9500.0|           80|     14000.0|
|        163| 9500.0|           80|     14000.0|
|        158| 9000.0|           80|     14000.0|
|        152| 9000.0|           80|     14000.0|
|        175| 8800.0|           80|     14000.0|
|        176| 8600.0|           80|     14000.0|
|        177| 8400.0|           80|     14000.0|
|        153| 8000.0|           80|     14000.0|
|        159| 8000.0|           80|     14000.0|
|        160| 7500.0|           80|     14000.0|
|        154| 7500.0|           80|     14000.0|
|        171| 7400.0|           80|     14000.0|
|        172| 7300.0|           80|     14000.0|
|        164| 7200.0|           80|     14000.0|
|        155| 7000.0|           80|     14000.0|
|        161| 7000.0|           80|     14000.0|
|        165| 6800.0|           80|     14000.0|
|        166| 6400.0|           80|     14000.0|
|        167| 6200.0|           80|     14000.0|
|        179| 6200.0|           80|     14000.0|
|        173| 6100.0|           80|     14000.0|
|        100|24000.0|           90|     24000.0|
|        102|17000.0|           90|     24000.0|
|        101|17000.0|           90|     24000.0|
|        178| 7000.0|         null|      7000.0|
+-----------+-------+-------------+------------+

employeesFirst = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

In [11]:
import org.apache.spark.sql.expressions.Window

/*
SELECT employee_id, salary, department_id,
  last_value(salary) OVER 
    (PARTITION BY department_id ORDER BY salary DESC
     ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) last_salary
FROM employees
ORDER BY department_id, salary DESC;
 */

val spec = Window.
  partitionBy("department_id").
  orderBy($"salary".desc).
  rangeBetween(unboundedPreceding, unboundedFollowing)

val employeesLast = employees.
  select("employee_id", "salary", "department_id").
  withColumn("last_salary", last("salary", false).over(spec)).
  orderBy($"department_id", $"salary".desc)

employeesLast.show(200)

+-----------+-------+-------------+-----------+
|employee_id| salary|department_id|last_salary|
+-----------+-------+-------------+-----------+
|        200| 4400.0|           10|     4400.0|
|        108|12000.0|          100|     6900.0|
|        109| 9000.0|          100|     6900.0|
|        110| 8200.0|          100|     6900.0|
|        112| 7800.0|          100|     6900.0|
|        111| 7700.0|          100|     6900.0|
|        113| 6900.0|          100|     6900.0|
|        205|12000.0|          110|     8300.0|
|        206| 8300.0|          110|     8300.0|
|        201|13000.0|           20|     6000.0|
|        202| 6000.0|           20|     6000.0|
|        114|11000.0|           30|     2500.0|
|        115| 3100.0|           30|     2500.0|
|        116| 2900.0|           30|     2500.0|
|        117| 2800.0|           30|     2500.0|
|        118| 2600.0|           30|     2500.0|
|        119| 2500.0|           30|     2500.0|
|        203| 6500.0|           40|     6500.0|
|        121| 8200.0|           50|     2100.0|
|        120| 8000.0|           50|     2100.0|
|        122| 7900.0|           50|     2100.0|
|        123| 6500.0|           50|     2100.0|
|        124| 5800.0|           50|     2100.0|
|        184| 4200.0|           50|     2100.0|
|        185| 4100.0|           50|     2100.0|
|        192| 4000.0|           50|     2100.0|
|        193| 3900.0|           50|     2100.0|
|        188| 3800.0|           50|     2100.0|
|        189| 3600.0|           50|     2100.0|
|        137| 3600.0|           50|     2100.0|
|        141| 3500.0|           50|     2100.0|
|        186| 3400.0|           50|     2100.0|
|        133| 3300.0|           50|     2100.0|
|        129| 3300.0|           50|     2100.0|
|        194| 3200.0|           50|     2100.0|
|        180| 3200.0|           50|     2100.0|
|        125| 3200.0|           50|     2100.0|
|        138| 3200.0|           50|     2100.0|
|        181| 3100.0|           50|     2100.0|
|        196| 3100.0|           50|     2100.0|
|        142| 3100.0|           50|     2100.0|
|        187| 3000.0|           50|     2100.0|
|        197| 3000.0|           50|     2100.0|
|        190| 2900.0|           50|     2100.0|
|        134| 2900.0|           50|     2100.0|
|        130| 2800.0|           50|     2100.0|
|        183| 2800.0|           50|     2100.0|
|        195| 2800.0|           50|     2100.0|
|        139| 2700.0|           50|     2100.0|
|        126| 2700.0|           50|     2100.0|
|        199| 2600.0|           50|     2100.0|
|        198| 2600.0|           50|     2100.0|
|        143| 2600.0|           50|     2100.0|
|        191| 2500.0|           50|     2100.0|
|        140| 2500.0|           50|     2100.0|
|        144| 2500.0|           50|     2100.0|
|        182| 2500.0|           50|     2100.0|
|        131| 2500.0|           50|     2100.0|
|        127| 2400.0|           50|     2100.0|
|        135| 2400.0|           50|     2100.0|
|        128| 2200.0|           50|     2100.0|
|        136| 2200.0|           50|     2100.0|
|        132| 2100.0|           50|     2100.0|
|        103| 9000.0|           60|     4200.0|
|        104| 6000.0|           60|     4200.0|
|        106| 4800.0|           60|     4200.0|
|        105| 4800.0|           60|     4200.0|
|        107| 4200.0|           60|     4200.0|
|        204|10000.0|           70|    10000.0|
|        145|14000.0|           80|     6100.0|
|        146|13500.0|           80|     6100.0|
|        147|12000.0|           80|     6100.0|
|        168|11500.0|           80|     6100.0|
|        148|11000.0|           80|     6100.0|
|        174|11000.0|           80|     6100.0|
|        162|10500.0|           80|     6100.0|
|        149|10500.0|           80|     6100.0|
|        150|10000.0|           80|     6100.0|
|        156|10000.0|           80|     6100.0|
|        169|10000.0|           80|     6100.0|
|        170| 9600.0|           80|     6100.0|
|        151| 9500.0|           80|     6100.0|
|        157| 9500.0|           80|     6100.0|
|        163| 9500.0|           80|     6100.0|
|        158| 9000.0|           80|     6100.0|
|        152| 9000.0|           80|     6100.0|
|        175| 8800.0|           80|     6100.0|
|        176| 8600.0|           80|     6100.0|
|        177| 8400.0|           80|     6100.0|
|        153| 8000.0|           80|     6100.0|
|        159| 8000.0|           80|     6100.0|
|        160| 7500.0|           80|     6100.0|
|        154| 7500.0|           80|     6100.0|
|        171| 7400.0|           80|     6100.0|
|        172| 7300.0|           80|     6100.0|
|        164| 7200.0|           80|     6100.0|
|        155| 7000.0|           80|     6100.0|
|        161| 7000.0|           80|     6100.0|
|        165| 6800.0|           80|     6100.0|
|        166| 6400.0|           80|     6100.0|
|        167| 6200.0|           80|     6100.0|
|        179| 6200.0|           80|     6100.0|
|        173| 6100.0|           80|     6100.0|
|        100|24000.0|           90|    17000.0|
|        102|17000.0|           90|    17000.0|
|        101|17000.0|           90|    17000.0|
|        178| 7000.0|         null|     7000.0|
+-----------+-------+-------------+-----------+

spec = org.apache.spark.sql.expressions.WindowSpec@6b30d51e
employeesLast = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

### Ranking Functions

Let us talk about ranking functions within each group.

* We have functions like rank, dense_rank, row_number etc
* We need to create WindowSpec object using partitionBy and then orderBy for most of the ranking functions
* Some realistic use cases
    * Assign rank to employees based on salary within each department
    * Assign ranks to products based on revenue each day or month

In [26]:

val employeesPath = "/public/hr_db/employees"

val employeesRaw = spark.
  read.
  text(employeesPath).
  as[String]

val employees = employeesRaw.map(rec => {
  val r = rec.split("\t")
  (r(0).toInt, r(1), r(2), r(3),
   r(4), r(5), r(6), r(7).toFloat,
   r(8), r(9), r(10)
  )
}).toDF("employee_id", "first_name", "last_name", "email",
        "phone_number", "hire_date", "job_id", "salary",
        "commission_pct", "manager_id", "department_id")

spark.conf.set("spark.sql.shuffle.partitions", "2")

employeesPath = /public/hr_db/employees
employeesRaw = [value: string]
employees = [employee_id: int, first_name: string ... 9 more fields]

lastException: Throwable = null

[employee_id: int, first_name: string ... 9 more fields]

In [27]:
import org.apache.spark.sql.expressions.Window

val spec = Window.
  partitionBy("department_id").
  orderBy($"salary".desc)

spec = org.apache.spark.sql.expressions.WindowSpec@1a337e8d

org.apache.spark.sql.expressions.WindowSpec@1a337e8d

In [28]:
/*
SELECT employee_id, salary, department_id,
  rank() OVER (PARTITION BY department_id ORDER BY salary DESC) AS rank
FROM employees
ORDER BY department_id, salary DESC;
 */

val employeesRanked = employees.
  select("employee_id", "salary", "department_id").
  withColumn("rank", rank.over(spec)).
  orderBy($"department_id", $"salary".desc)

employeesRanked.show(200)

+-----------+-------+-------------+----+
|employee_id| salary|department_id|rank|
+-----------+-------+-------------+----+
|        200| 4400.0|           10|   1|
|        108|12000.0|          100|   1|
|        109| 9000.0|          100|   2|
|        110| 8200.0|          100|   3|
|        112| 7800.0|          100|   4|
|        111| 7700.0|          100|   5|
|        113| 6900.0|          100|   6|
|        205|12000.0|          110|   1|
|        206| 8300.0|          110|   2|
|        201|13000.0|           20|   1|
|        202| 6000.0|           20|   2|
|        114|11000.0|           30|   1|
|        115| 3100.0|           30|   2|
|        116| 2900.0|           30|   3|
|        117| 2800.0|           30|   4|
|        118| 2600.0|           30|   5|
|        119| 2500.0|           30|   6|
|        203| 6500.0|           40|   1|
|        121| 8200.0|           50|   1|
|        120| 8000.0|           50|   2|
|        122| 7900.0|           50|   3|
|        123| 6500.0|           50|   4|
|        124| 5800.0|           50|   5|
|        184| 4200.0|           50|   6|
|        185| 4100.0|           50|   7|
|        192| 4000.0|           50|   8|
|        193| 3900.0|           50|   9|
|        188| 3800.0|           50|  10|
|        189| 3600.0|           50|  11|
|        137| 3600.0|           50|  11|
|        141| 3500.0|           50|  13|
|        186| 3400.0|           50|  14|
|        133| 3300.0|           50|  15|
|        129| 3300.0|           50|  15|
|        180| 3200.0|           50|  17|
|        194| 3200.0|           50|  17|
|        125| 3200.0|           50|  17|
|        138| 3200.0|           50|  17|
|        181| 3100.0|           50|  21|
|        142| 3100.0|           50|  21|
|        196| 3100.0|           50|  21|
|        187| 3000.0|           50|  24|
|        197| 3000.0|           50|  24|
|        190| 2900.0|           50|  26|
|        134| 2900.0|           50|  26|
|        130| 2800.0|           50|  28|
|        183| 2800.0|           50|  28|
|        195| 2800.0|           50|  28|
|        139| 2700.0|           50|  31|
|        126| 2700.0|           50|  31|
|        199| 2600.0|           50|  33|
|        198| 2600.0|           50|  33|
|        143| 2600.0|           50|  33|
|        182| 2500.0|           50|  36|
|        140| 2500.0|           50|  36|
|        144| 2500.0|           50|  36|
|        191| 2500.0|           50|  36|
|        131| 2500.0|           50|  36|
|        127| 2400.0|           50|  41|
|        135| 2400.0|           50|  41|
|        136| 2200.0|           50|  43|
|        128| 2200.0|           50|  43|
|        132| 2100.0|           50|  45|
|        103| 9000.0|           60|   1|
|        104| 6000.0|           60|   2|
|        106| 4800.0|           60|   3|
|        105| 4800.0|           60|   3|
|        107| 4200.0|           60|   5|
|        204|10000.0|           70|   1|
|        145|14000.0|           80|   1|
|        146|13500.0|           80|   2|
|        147|12000.0|           80|   3|
|        168|11500.0|           80|   4|
|        174|11000.0|           80|   5|
|        148|11000.0|           80|   5|
|        149|10500.0|           80|   7|
|        162|10500.0|           80|   7|
|        156|10000.0|           80|   9|
|        150|10000.0|           80|   9|
|        169|10000.0|           80|   9|
|        170| 9600.0|           80|  12|
|        151| 9500.0|           80|  13|
|        163| 9500.0|           80|  13|
|        157| 9500.0|           80|  13|
|        152| 9000.0|           80|  16|
|        158| 9000.0|           80|  16|
|        175| 8800.0|           80|  18|
|        176| 8600.0|           80|  19|
|        177| 8400.0|           80|  20|
|        159| 8000.0|           80|  21|
|        153| 8000.0|           80|  21|
|        154| 7500.0|           80|  23|
|        160| 7500.0|           80|  23|
|        171| 7400.0|           80|  25|
|        172| 7300.0|           80|  26|
|        164| 7200.0|           80|  27|
|        161| 7000.0|           80|  28|
|        155| 7000.0|           80|  28|
|        165| 6800.0|           80|  30|
|        166| 6400.0|           80|  31|
|        167| 6200.0|           80|  32|
|        179| 6200.0|           80|  32|
|        173| 6100.0|           80|  34|
|        100|24000.0|           90|   1|
|        101|17000.0|           90|   2|
|        102|17000.0|           90|   2|
|        178| 7000.0|         null|   1|
+-----------+-------+-------------+----+

employeesRanked = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

In [29]:
/*
SELECT employee_id, salary, department_id,
  dense_rank() OVER (PARTITION BY department_id ORDER BY salary DESC) AS rank
FROM employees
ORDER BY department_id, salary DESC;
 */

val employeesDenseRanked = employees.
  select("employee_id", "salary", "department_id").
  withColumn("rank", dense_rank over spec ).
  orderBy($"department_id", $"salary".desc)

employeesDenseRanked.show(200)

+-----------+-------+-------------+----+
|employee_id| salary|department_id|rank|
+-----------+-------+-------------+----+
|        200| 4400.0|           10|   1|
|        108|12000.0|          100|   1|
|        109| 9000.0|          100|   2|
|        110| 8200.0|          100|   3|
|        112| 7800.0|          100|   4|
|        111| 7700.0|          100|   5|
|        113| 6900.0|          100|   6|
|        205|12000.0|          110|   1|
|        206| 8300.0|          110|   2|
|        201|13000.0|           20|   1|
|        202| 6000.0|           20|   2|
|        114|11000.0|           30|   1|
|        115| 3100.0|           30|   2|
|        116| 2900.0|           30|   3|
|        117| 2800.0|           30|   4|
|        118| 2600.0|           30|   5|
|        119| 2500.0|           30|   6|
|        203| 6500.0|           40|   1|
|        121| 8200.0|           50|   1|
|        120| 8000.0|           50|   2|
|        122| 7900.0|           50|   3|
|        123| 6500.0|           50|   4|
|        124| 5800.0|           50|   5|
|        184| 4200.0|           50|   6|
|        185| 4100.0|           50|   7|
|        192| 4000.0|           50|   8|
|        193| 3900.0|           50|   9|
|        188| 3800.0|           50|  10|
|        189| 3600.0|           50|  11|
|        137| 3600.0|           50|  11|
|        141| 3500.0|           50|  12|
|        186| 3400.0|           50|  13|
|        133| 3300.0|           50|  14|
|        129| 3300.0|           50|  14|
|        180| 3200.0|           50|  15|
|        194| 3200.0|           50|  15|
|        125| 3200.0|           50|  15|
|        138| 3200.0|           50|  15|
|        181| 3100.0|           50|  16|
|        142| 3100.0|           50|  16|
|        196| 3100.0|           50|  16|
|        187| 3000.0|           50|  17|
|        197| 3000.0|           50|  17|
|        190| 2900.0|           50|  18|
|        134| 2900.0|           50|  18|
|        130| 2800.0|           50|  19|
|        183| 2800.0|           50|  19|
|        195| 2800.0|           50|  19|
|        139| 2700.0|           50|  20|
|        126| 2700.0|           50|  20|
|        199| 2600.0|           50|  21|
|        198| 2600.0|           50|  21|
|        143| 2600.0|           50|  21|
|        182| 2500.0|           50|  22|
|        140| 2500.0|           50|  22|
|        144| 2500.0|           50|  22|
|        191| 2500.0|           50|  22|
|        131| 2500.0|           50|  22|
|        127| 2400.0|           50|  23|
|        135| 2400.0|           50|  23|
|        136| 2200.0|           50|  24|
|        128| 2200.0|           50|  24|
|        132| 2100.0|           50|  25|
|        103| 9000.0|           60|   1|
|        104| 6000.0|           60|   2|
|        106| 4800.0|           60|   3|
|        105| 4800.0|           60|   3|
|        107| 4200.0|           60|   4|
|        204|10000.0|           70|   1|
|        145|14000.0|           80|   1|
|        146|13500.0|           80|   2|
|        147|12000.0|           80|   3|
|        168|11500.0|           80|   4|
|        174|11000.0|           80|   5|
|        148|11000.0|           80|   5|
|        149|10500.0|           80|   6|
|        162|10500.0|           80|   6|
|        156|10000.0|           80|   7|
|        150|10000.0|           80|   7|
|        169|10000.0|           80|   7|
|        170| 9600.0|           80|   8|
|        151| 9500.0|           80|   9|
|        163| 9500.0|           80|   9|
|        157| 9500.0|           80|   9|
|        152| 9000.0|           80|  10|
|        158| 9000.0|           80|  10|
|        175| 8800.0|           80|  11|
|        176| 8600.0|           80|  12|
|        177| 8400.0|           80|  13|
|        159| 8000.0|           80|  14|
|        153| 8000.0|           80|  14|
|        154| 7500.0|           80|  15|
|        160| 7500.0|           80|  15|
|        171| 7400.0|           80|  16|
|        172| 7300.0|           80|  17|
|        164| 7200.0|           80|  18|
|        161| 7000.0|           80|  19|
|        155| 7000.0|           80|  19|
|        165| 6800.0|           80|  20|
|        166| 6400.0|           80|  21|
|        167| 6200.0|           80|  22|
|        179| 6200.0|           80|  22|
|        173| 6100.0|           80|  23|
|        100|24000.0|           90|   1|
|        101|17000.0|           90|   2|
|        102|17000.0|           90|   2|
|        178| 7000.0|         null|   1|
+-----------+-------+-------------+----+

employeesDenseRanked = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

In [30]:
/*
SELECT employee_id, salary, department_id,
  row_number() OVER (PARTITION BY department_id ORDER BY salary DESC) AS rn
FROM employees
ORDER BY department_id, salary DESC;
 */

val employeesRowNumbered = employees.
  select("employee_id", "salary", "department_id").
  withColumn("rn", row_number over spec ).
  orderBy($"department_id", $"salary".desc)

employeesRowNumbered.show(200)

+-----------+-------+-------------+---+
|employee_id| salary|department_id| rn|
+-----------+-------+-------------+---+
|        200| 4400.0|           10|  1|
|        108|12000.0|          100|  1|
|        109| 9000.0|          100|  2|
|        110| 8200.0|          100|  3|
|        112| 7800.0|          100|  4|
|        111| 7700.0|          100|  5|
|        113| 6900.0|          100|  6|
|        205|12000.0|          110|  1|
|        206| 8300.0|          110|  2|
|        201|13000.0|           20|  1|
|        202| 6000.0|           20|  2|
|        114|11000.0|           30|  1|
|        115| 3100.0|           30|  2|
|        116| 2900.0|           30|  3|
|        117| 2800.0|           30|  4|
|        118| 2600.0|           30|  5|
|        119| 2500.0|           30|  6|
|        203| 6500.0|           40|  1|
|        121| 8200.0|           50|  1|
|        120| 8000.0|           50|  2|
|        122| 7900.0|           50|  3|
|        123| 6500.0|           50|  4|
|        124| 5800.0|           50|  5|
|        184| 4200.0|           50|  6|
|        185| 4100.0|           50|  7|
|        192| 4000.0|           50|  8|
|        193| 3900.0|           50|  9|
|        188| 3800.0|           50| 10|
|        189| 3600.0|           50| 12|
|        137| 3600.0|           50| 11|
|        141| 3500.0|           50| 13|
|        186| 3400.0|           50| 14|
|        133| 3300.0|           50| 16|
|        129| 3300.0|           50| 15|
|        194| 3200.0|           50| 20|
|        180| 3200.0|           50| 19|
|        125| 3200.0|           50| 18|
|        138| 3200.0|           50| 17|
|        181| 3100.0|           50| 22|
|        196| 3100.0|           50| 23|
|        142| 3100.0|           50| 21|
|        187| 3000.0|           50| 24|
|        197| 3000.0|           50| 25|
|        190| 2900.0|           50| 27|
|        134| 2900.0|           50| 26|
|        130| 2800.0|           50| 28|
|        183| 2800.0|           50| 29|
|        195| 2800.0|           50| 30|
|        139| 2700.0|           50| 31|
|        126| 2700.0|           50| 32|
|        199| 2600.0|           50| 35|
|        198| 2600.0|           50| 34|
|        143| 2600.0|           50| 33|
|        191| 2500.0|           50| 40|
|        140| 2500.0|           50| 37|
|        144| 2500.0|           50| 38|
|        182| 2500.0|           50| 39|
|        131| 2500.0|           50| 36|
|        127| 2400.0|           50| 41|
|        135| 2400.0|           50| 42|
|        128| 2200.0|           50| 43|
|        136| 2200.0|           50| 44|
|        132| 2100.0|           50| 45|
|        103| 9000.0|           60|  1|
|        104| 6000.0|           60|  2|
|        106| 4800.0|           60|  4|
|        105| 4800.0|           60|  3|
|        107| 4200.0|           60|  5|
|        204|10000.0|           70|  1|
|        145|14000.0|           80|  1|
|        146|13500.0|           80|  2|
|        147|12000.0|           80|  3|
|        168|11500.0|           80|  4|
|        148|11000.0|           80|  5|
|        174|11000.0|           80|  6|
|        162|10500.0|           80|  8|
|        149|10500.0|           80|  7|
|        150|10000.0|           80|  9|
|        156|10000.0|           80| 10|
|        169|10000.0|           80| 11|
|        170| 9600.0|           80| 12|
|        151| 9500.0|           80| 13|
|        157| 9500.0|           80| 14|
|        163| 9500.0|           80| 15|
|        158| 9000.0|           80| 17|
|        152| 9000.0|           80| 16|
|        175| 8800.0|           80| 18|
|        176| 8600.0|           80| 19|
|        177| 8400.0|           80| 20|
|        153| 8000.0|           80| 21|
|        159| 8000.0|           80| 22|
|        160| 7500.0|           80| 24|
|        154| 7500.0|           80| 23|
|        171| 7400.0|           80| 25|
|        172| 7300.0|           80| 26|
|        164| 7200.0|           80| 27|
|        155| 7000.0|           80| 28|
|        161| 7000.0|           80| 29|
|        165| 6800.0|           80| 30|
|        166| 6400.0|           80| 31|
|        167| 6200.0|           80| 32|
|        179| 6200.0|           80| 33|
|        173| 6100.0|           80| 34|
|        100|24000.0|           90|  1|
|        102|17000.0|           90|  3|
|        101|17000.0|           90|  2|
|        178| 7000.0|         null|  1|
+-----------+-------+-------------+---+

employeesRowNumbered = [employee_id: int, salary: float ... 2 more fields]

[employee_id: int, salary: float ... 2 more fields]

### Development Life Cycle

Let us talk about the development lifecycle.

* Take the DailyProductRevenue code which gives us order_date, order_item_product_id, and revenue
* Import Window and create a spec to partition by date and order by revenue in descending order.
* Use withColumn and assign the rank
* Filter data where rank is less than or equal to topN passed as an argument to the program
* Drop rank field as we do not want to save the data and then sort in ascending order by date and descending order by revenue
* Save the data frame into a file

# spark-dataframes-01-build.sbt

name := "SparkDemo"

version := "0.1"

scalaVersion := "2.11.8"

libraryDependencies += "com.typesafe" % "config" % "1.3.2"
libraryDependencies += "org.apache.spark" %% "spark-sql" % "2.3.2"

# spark-dataframes-02-application.properties

dev.execution.mode = local
dev.input.base.dir = C:\\data\\retail_db\\
dev.output.base.dir = C:\\data\\scalaspark\\

devu.execution.mode = local
devu.input.base.dir = /mnt/c/data/retail_db/
devu.output.base.dir = /mnt/c/data/bootcamp/scalaspark/

devm.execution.mode = local
devm.input.base.dir = /Users/itversity/Research/data/retail_db/
devm.output.base.dir = /Users/itversity/Research/data/scalaspark/

prod.execution.mode = yarn-client
prod.input.base.dir = /public/retail_db/
prod.output.base.dir = /user/training/bootcamp/scalaspark/

// spark-dataframes-03-top-n-daily-products.scala

package retail_db_df

import com.typesafe.config.ConfigFactory
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions.{round, sum, dense_rank}
import org.apache.spark.sql.expressions.Window

/**
  * Created by itversity on 15/12/18.
  */
object GetTopNDailyProductsDF {
  def main(args: Array[String]): Unit = {

    val props = ConfigFactory.load
    val env = args(0)
    val envProps = props.getConfig(env)
    val topN = args(1).toInt

    val spark = SparkSession.
      builder.
      appName("Daily Product Revenue using Data Frame Operations").
      master(envProps.getString("execution.mode")).
      getOrCreate

    spark.conf.set("spark.sql.shuffle.partitions", "2")

    val inputBaseDir = envProps.getString("input.base.dir")
    val ordersCSV = spark.read.
      csv(inputBaseDir + "orders").
      toDF("order_id", "order_date", "order_customer_id", "order_status")

    val orderItemsCSV = spark.read.
      csv(inputBaseDir + "order_items").
      toDF("order_item_id", "order_item_order_id", "order_item_product_id",
        "order_item_quantity", "order_item_subtotal", "order_item_product_price")

    import spark.implicits._

    val orders = ordersCSV.
      withColumn("order_id", $"order_id".cast("int")).
      withColumn("order_customer_id", $"order_customer_id".cast("int"))

    val orderItems = orderItemsCSV.
      withColumn("order_item_id", $"order_item_id".cast("int")).
      withColumn("order_item_order_id", $"order_item_order_id".cast("int")).
      withColumn("order_item_product_id", $"order_item_product_id".cast("int")).
      withColumn("order_item_quantity", $"order_item_quantity".cast("int")).
      withColumn("order_item_subtotal", $"order_item_subtotal".cast("float")).
      withColumn("order_item_product_price", $"order_item_product_price".cast("float"))

    val dailyProductRevenue = orders.
      where("order_status in ('COMPLETE', 'CLOSED')").
      join(orderItems, $"order_id" === $"order_item_order_id").
      groupBy("order_date", "order_item_product_id").
      agg(round(sum($"order_item_subtotal"), 2).alias("revenue"))

    val spec = Window.
      partitionBy("order_date").
      orderBy($"revenue".desc)

    val dailyProductRevenueRanked = dailyProductRevenue.
    withColumn("rnk", dense_rank().over(spec))

    val topNDailyProducts = dailyProductRevenueRanked.
      where($"rnk" <= topN).
      drop($"rnk").
      orderBy($"order_date", $"revenue".desc)

    val outputBaseDir = envProps.getString("output.base.dir")
    topNDailyProducts.write.csv(outputBaseDir + "topn_daily_products")
  }
}

# spark-dataframes-04-top-n-daily-products.sh

spark-submit \
  --master yarn \
  --class retail_db_df.GetTopNDailyProductsDF \
  --deploy-mode client \
  --conf spark.ui.port=12901 \
  sparkdemo_2.11-0.1.jar prod 5