# Overview of Collections and Tuples – Python 3
Let us understand basics behind collections such as list, set and dict as well as tuples. While tuple is unnamed object with multiple attributes collections can be often group of tuples.

* Read data from files into collection
* Collections – list, set and dict – group of homogeneous elements
* Basic Operations on Collections
* Tuples – group of heterogeneous elements
* Develop data processing applications (using loops over collections)

## File I/O
To understand collections in detail it is better to read real world data rather than using hypothetical examples. Let us assume that we got data in files and we will see how we can create collections out of the data in files.
* Python have simple and yet rich APIs to perform file I/O
* We can create file object with open in different modes (by default read only mode)
* To read the contents from the file into memory, we have APIs on top of file object such as read
* read will create large string using contents of the files
* If the data have multiple records with new line character as delimiter, we can apply splitlines on the output of read
* splitlines will convert the string into list with new line character as delimiter

Here is the sample code which reads data from files into collection (list in this case)

In [6]:
ordersPath = "/data/retail_db/orders/part-00000"
ordersFile = open(ordersPath)
ordersData = ordersFile.read()
orders = ordersData.splitlines()
for i in orders[:10]:
    print(i)

1,2013-07-25 00:00:00.0,11599,CLOSED
2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT
3,2013-07-25 00:00:00.0,12111,COMPLETE
4,2013-07-25 00:00:00.0,8827,CLOSED
5,2013-07-25 00:00:00.0,11318,COMPLETE
6,2013-07-25 00:00:00.0,7130,COMPLETE
7,2013-07-25 00:00:00.0,4530,COMPLETE
8,2013-07-25 00:00:00.0,2911,PROCESSING
9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT
10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT

## Collections
* list
    * Group of elements with index and length
    * Elements can be added/inserted at a particular position
    * We can access elements in list by using index in []
    * There can be duplicates in a list
    * APIs are available to add elements to the list, delete elements from the list and sort the list
    * We will see some basic list operations by using simple examples
        * Adding elements into list (append, insert)
        * Deleting elements from list (pop, clear)
        * Checking how many times an element is repeated in list (count)
        * Get the position of element (index)
        * Sorting elements in the list (sort for in place sort and sorted for sorting and creating new collection)
    
* set
    * Group of unique elements with no index or length
    * Elements can be added/inserted but not at a particular position
    * We can check whether the element exists using in operator
    * There can be no duplicates in a set
    * APIs are available to add elements to the set, delete elements from the set and perform set operations such as union, intersection etc
    * We need to convert set to list to sort the data or use sorted function. There is no API available in set to sort it.
    * We will see some basic set operations by using simple examples
        * Adding elements into set (add)
        * Deleting elements from set (pop/remove, clear)
        * Checking whether element is present in a set ([])
        * Set operations (union, intersection, difference etc)

* dict
    * Group of key value pairs
    * Keys are unique
    * Values need not be unique
    * We can access values using keys
    * APIs are available to add new key value pairs to a dict, update values based on keys in dict, extract keys as set from dict, extract values as list from dict, to check whether key exists in the dict etc
    * We will see some basic dict operations by using simple examples
        * Adding elements to dict
        * Removing elements from dict (clear, pop, popitem)
        * Get all keys (keys)
        * Get all key value pairs (items)
        * Get only values (values)
    
## Tuple
Now let us understand definition and characteristics of a tuple.
* Tuple is like object with unnamed attributes
* Values of attributes can be accessed only using positional notation
* It represents individual row in a table or spread sheet with multiple attributes
* We use () to represent tuples
* Tuples are immutable
* Very limited operations are available – e.g.: count, index

## Develop applications (using loops)
As we understand how to read data from files and also manipulate collections now we will see how we can process data which is read from files into collections using traditional loops and collection as well as tuple data structures.

Here is sample program to develop applications using loops.

* Task 1: Get all order statuses from orders data (loop through list, get order status and add it to the set)

In [7]:
ordersPath = "/data/retail_db/orders/part-00000"
ordersFile = open(ordersPath)
ordersData = ordersFile.read()
orders = ordersData.splitlines()
#set can be initialized by saying set([]) or set({})
orderStatuses = set([])
for order in orders:
  orderStatuses.add(order.split(",")[3])

for i in orderStatuses:
  print(i)

PAYMENT_REVIEW
CANCELED
ON_HOLD
COMPLETE
CLOSED
PENDING_PAYMENT
PENDING
SUSPECTED_FRAUD
PROCESSING

* Task 2: Create a function to get revenue for a given order_id (from order_items)

In [8]:
def readData(dataPath):
  dataFile = open(dataPath)
  dataStr = dataFile.read()
  dataList = dataStr.splitlines()
  return dataList

def getOrderRevenue(orderItems, orderId):
  revenue = 0.0
  for orderItem in orderItems:
    if(int(orderItem.split(",")[1]) == orderId):
      revenue += float(orderItem.split(",")[4])
  return revenue

orderItemsPath = "/data/retail_db/order_items/part-00000"
orderItems = readData(orderItemsPath)
orderRevenue = getOrderRevenue(orderItems, 2)
print(orderRevenue)

579.98

* Task 3: Create a function to get revenue for each order_id (from order_items)

In [9]:
def readData(dataPath):
  dataFile = open(dataPath)
  dataStr = dataFile.read()
  dataList = dataStr.splitlines()
  return dataList

def getRevenuePerOrder(orderItems):
  revenuePerOrder = {}
  for orderItem in orderItems:
    orderIdAndRevenue = (int(orderItem.split(",")[1]), float(orderItem.split(",")[4]))
    if(revenuePerOrder.get(orderIdAndRevenue[0])):
      revenuePerOrder[orderIdAndRevenue[0]] += orderIdAndRevenue[1]
    else:
      revenuePerOrder[orderIdAndRevenue[0]] = orderIdAndRevenue[1]
  return revenuePerOrder

orderItemsPath = "/data/retail_db/order_items/part-00000"
orderItems = readData(orderItemsPath)
revenuePerOrder = getRevenuePerOrder(orderItems)
revenuePerOrder[2]
len(revenuePerOrder)

57431

* Task 4: Create a function to get daily revenue using orders which are completed or closed and order items

In [9]:
def readData(dataPath):
  dataFile = open(dataPath)
  dataStr = dataFile.read()
  dataList = dataStr.splitlines()
  return dataList

def getCompletedOrders(orders):
    ordersFiltered = []
    for order in orders:
        if(order.split(',')[3] in ('COMPLETE', 'CLOSED')):
            ordersFiltered.append(order)
    return ordersFiltered
                        

def getOrderIdAndDateDict(orders):
    orderIdAndDateDict = {}
    for order in orders:
        orderIdAndDateDict[int(order.split(",")[0])] = order.split(",")[1]
    return orderIdAndDateDict

def getDailyRevenue(orderIdAndDateDict, orderItems):
    dailyRevenue = {}
    for orderItem in orderItems:
        orderIdAndRevenue = (int(orderItem.split(",")[1]), float(orderItem.split(",")[4]))
        if(orderIdAndDateDict.get(orderIdAndRevenue[0])):
            if(dailyRevenue.get(orderIdAndDateDict[orderIdAndRevenue[0]])):
                dailyRevenue[orderIdAndDateDict[orderIdAndRevenue[0]]] += orderIdAndRevenue[1]
            else:
                dailyRevenue[orderIdAndDateDict[orderIdAndRevenue[0]]] = orderIdAndRevenue[1]
    return dailyRevenue

orderItemsPath = "/data/retail_db/order_items/part-00000"
ordersPath = "/data/retail_db/orders/part-00000"

orderItems = readData(orderItemsPath)
orders = readData(ordersPath)
ordersFiltered = getCompletedOrders(orders)
orderIdAndDateDict = getOrderIdAndDateDict(ordersFiltered)
dailyRevenue = getDailyRevenue(orderIdAndDateDict, orderItems)

for k in dailyRevenue:
    print((k, dailyRevenue[k]))

('2013-07-25 00:00:00.0', 31547.230000000014)
('2013-07-26 00:00:00.0', 54713.23000000002)
('2013-07-27 00:00:00.0', 48411.48000000003)
('2013-07-28 00:00:00.0', 35672.03000000004)
('2013-07-29 00:00:00.0', 54579.699999999946)
('2013-07-30 00:00:00.0', 49329.29000000002)
('2013-07-31 00:00:00.0', 59212.490000000056)
('2013-08-01 00:00:00.0', 49160.080000000045)
('2013-08-02 00:00:00.0', 50688.58000000002)
('2013-08-03 00:00:00.0', 43416.74000000001)
('2013-08-04 00:00:00.0', 35093.01000000003)
('2013-08-05 00:00:00.0', 34025.270000000026)
('2013-08-06 00:00:00.0', 57843.89000000003)
('2013-08-07 00:00:00.0', 45525.59000000006)
('2013-08-08 00:00:00.0', 33549.47000000002)
('2013-08-09 00:00:00.0', 29225.160000000018)
('2013-08-10 00:00:00.0', 46435.04000000003)
('2013-08-11 00:00:00.0', 31155.5)
('2013-08-12 00:00:00.0', 59014.74000000002)
('2013-08-13 00:00:00.0', 17956.879999999994)
('2013-08-14 00:00:00.0', 42043.45000000002)
('2013-08-15 00:00:00.0', 49566.68000000003)
('2013-08-16 00:00:00.0', 30160.100000000006)
('2013-08-17 00:00:00.0', 63226.830000000075)
('2013-08-18 00:00:00.0', 46612.70000000003)
('2013-08-19 00:00:00.0', 21397.59)
('2013-08-20 00:00:00.0', 43714.92000000002)
('2013-08-21 00:00:00.0', 28947.650000000005)
('2013-08-22 00:00:00.0', 38190.02000000003)
('2013-08-23 00:00:00.0', 36305.67000000002)
('2013-08-24 00:00:00.0', 52650.15000000006)
('2013-08-25 00:00:00.0', 32295.080000000005)
('2013-08-26 00:00:00.0', 38548.400000000016)
('2013-08-27 00:00:00.0', 41010.779999999984)
('2013-08-28 00:00:00.0', 22637.860000000004)
('2013-08-29 00:00:00.0', 43275.410000000025)
('2013-08-30 00:00:00.0', 24200.550000000014)
('2013-08-31 00:00:00.0', 33955.11000000003)
('2013-09-01 00:00:00.0', 42237.770000000004)
('2013-09-02 00:00:00.0', 44463.56000000003)
('2013-09-03 00:00:00.0', 44379.10000000005)
('2013-09-04 00:00:00.0', 22946.520000000004)
('2013-09-05 00:00:00.0', 59942.43000000005)
('2013-09-06 00:00:00.0', 61976.10000000003)
('2013-09-07 00:00:00.0', 45235.53000000005)
('2013-09-08 00:00:00.0', 39660.48000000004)
('2013-09-09 00:00:00.0', 49372.42000000001)
('2013-09-10 00:00:00.0', 47745.72000000003)
('2013-09-11 00:00:00.0', 22322.130000000005)
('2013-09-12 00:00:00.0', 42801.830000000045)
('2013-09-13 00:00:00.0', 21773.710000000003)
('2013-09-14 00:00:00.0', 60928.16000000004)
('2013-09-15 00:00:00.0', 30210.809999999998)
('2013-09-16 00:00:00.0', 29117.35000000001)
('2013-09-17 00:00:00.0', 30296.940000000013)
('2013-09-18 00:00:00.0', 49899.08000000003)
('2013-09-19 00:00:00.0', 51600.340000000026)
('2013-09-20 00:00:00.0', 29575.360000000008)
('2013-09-21 00:00:00.0', 29967.41000000001)
('2013-09-22 00:00:00.0', 41934.02)
('2013-09-23 00:00:00.0', 48304.569999999985)
('2013-09-24 00:00:00.0', 46555.30000000003)
('2013-09-25 00:00:00.0', 61042.05000000003)
('2013-09-26 00:00:00.0', 66470.50000000007)
('2013-09-27 00:00:00.0', 58817.64000000004)
('2013-09-28 00:00:00.0', 35825.430000000015)
('2013-09-29 00:00:00.0', 33340.00000000003)
('2013-09-30 00:00:00.0', 53513.54000000005)
('2013-10-01 00:00:00.0', 22066.389999999996)
('2013-10-02 00:00:00.0', 53041.34999999997)
('2013-10-03 00:00:00.0', 40457.14000000001)
('2013-10-04 00:00:00.0', 58392.52000000006)
('2013-10-05 00:00:00.0', 43319.77000000003)
('2013-10-06 00:00:00.0', 51121.51000000006)
('2013-10-07 00:00:00.0', 24921.190000000002)
('2013-10-08 00:00:00.0', 55405.67)
('2013-10-09 00:00:00.0', 29360.600000000017)
('2013-10-10 00:00:00.0', 39269.420000000006)
('2013-10-11 00:00:00.0', 49408.92000000001)
('2013-10-12 00:00:00.0', 35698.85000000002)
('2013-10-13 00:00:00.0', 64598.40000000001)
('2013-10-14 00:00:00.0', 24086.610000000004)
('2013-10-15 00:00:00.0', 38585.85000000001)
('2013-10-16 00:00:00.0', 33139.91000000002)
('2013-10-17 00:00:00.0', 36751.70000000004)
('2013-10-18 00:00:00.0', 25568.280000000006)
('2013-10-19 00:00:00.0', 35056.56000000002)
('2013-10-20 00:00:00.0', 31487.010000000024)
('2013-10-21 00:00:00.0', 24778.30000000001)
('2013-10-22 00:00:00.0', 27318.540000000008)
('2013-10-23 00:00:00.0', 57159.89)
('2013-10-24 00:00:00.0', 25435.410000000003)
('2013-10-25 00:00:00.0', 39271.89000000002)
('2013-10-26 00:00:00.0', 32000.430000000008)
('2013-10-27 00:00:00.0', 45894.550000000025)
('2013-10-28 00:00:00.0', 28431.660000000007)
('2013-10-29 00:00:00.0', 30484.490000000013)
('2013-10-30 00:00:00.0', 24530.84999999999)
('2013-10-31 00:00:00.0', 44643.26000000001)
('2013-11-01 00:00:00.0', 56956.35000000004)
('2013-11-02 00:00:00.0', 32548.310000000027)
('2013-11-03 00:00:00.0', 69977.41000000006)
('2013-11-04 00:00:00.0', 56776.330000000016)
('2013-11-05 00:00:00.0', 57410.32000000006)
('2013-11-06 00:00:00.0', 50020.00000000003)
('2013-11-07 00:00:00.0', 56618.06000000008)
('2013-11-08 00:00:00.0', 41073.77000000001)
('2013-11-09 00:00:00.0', 54470.77999999998)
('2013-11-10 00:00:00.0', 32013.990000000013)
('2013-11-11 00:00:00.0', 57917.70000000005)
('2013-11-12 00:00:00.0', 33485.880000000034)
('2013-11-13 00:00:00.0', 53188.65000000001)
('2013-11-14 00:00:00.0', 62858.54000000002)
('2013-11-15 00:00:00.0', 34443.22000000002)
('2013-11-16 00:00:00.0', 27561.600000000013)
('2013-11-17 00:00:00.0', 34683.48000000001)
('2013-11-18 00:00:00.0', 44898.19)
('2013-11-19 00:00:00.0', 36947.399999999994)
('2013-11-20 00:00:00.0', 41643.770000000004)
('2013-11-21 00:00:00.0', 24204.21)
('2013-11-22 00:00:00.0', 51293.410000000054)
('2013-11-23 00:00:00.0', 55605.42000000002)
('2013-11-24 00:00:00.0', 53418.890000000014)
('2013-11-25 00:00:00.0', 24907.770000000008)
('2013-11-26 00:00:00.0', 33852.65000000003)
('2013-11-27 00:00:00.0', 29678.54000000002)
('2013-11-28 00:00:00.0', 53275.64000000004)
('2013-11-29 00:00:00.0', 54290.37)
('2013-11-30 00:00:00.0', 63914.68000000007)
('2013-12-01 00:00:00.0', 48276.310000000034)
('2013-12-02 00:00:00.0', 19278.829999999998)
('2013-12-03 00:00:00.0', 55391.86000000003)
('2013-12-04 00:00:00.0', 38437.07000000002)
('2013-12-05 00:00:00.0', 43669.46000000002)
('2013-12-06 00:00:00.0', 67137.96999999997)
('2013-12-07 00:00:00.0', 60455.10000000007)
('2013-12-08 00:00:00.0', 32517.220000000027)
('2013-12-09 00:00:00.0', 30498.55000000003)
('2013-12-10 00:00:00.0', 34288.54000000003)
('2013-12-11 00:00:00.0', 59768.04000000002)
('2013-12-12 00:00:00.0', 35233.830000000016)
('2013-12-13 00:00:00.0', 25861.000000000004)
('2013-12-14 00:00:00.0', 22296.740000000005)
('2013-12-15 00:00:00.0', 55678.800000000054)
('2013-12-16 00:00:00.0', 10255.679999999995)
('2013-12-17 00:00:00.0', 23252.559999999994)
('2013-12-18 00:00:00.0', 46258.540000000066)
('2013-12-19 00:00:00.0', 29761.760000000002)
('2013-12-20 00:00:00.0', 51741.61000000003)
('2013-12-21 00:00:00.0', 40510.94000000001)
('2013-12-22 00:00:00.0', 51563.26000000008)
('2013-12-23 00:00:00.0', 32325.120000000006)
('2013-12-24 00:00:00.0', 37195.58000000002)
('2013-12-25 00:00:00.0', 56387.090000000055)
('2013-12-26 00:00:00.0', 62438.16000000005)
('2013-12-27 00:00:00.0', 36080.570000000014)
('2013-12-28 00:00:00.0', 44581.76000000001)
('2013-12-29 00:00:00.0', 29896.740000000013)
('2013-12-30 00:00:00.0', 44371.92000000001)
('2013-12-31 00:00:00.0', 52308.99000000002)
('2014-01-01 00:00:00.0', 29071.77999999999)
('2014-01-02 00:00:00.0', 21872.699999999997)
('2014-01-03 00:00:00.0', 53080.100000000035)
('2014-01-04 00:00:00.0', 31780.81000000003)
('2014-01-05 00:00:00.0', 59093.580000000016)
('2014-01-06 00:00:00.0', 28852.450000000015)
('2014-01-07 00:00:00.0', 38545.640000000014)
('2014-01-08 00:00:00.0', 20812.65999999999)
('2014-01-09 00:00:00.0', 38871.870000000024)
('2014-01-10 00:00:00.0', 52781.11000000006)
('2014-01-11 00:00:00.0', 58913.510000000046)
('2014-01-12 00:00:00.0', 41235.95999999999)
('2014-01-13 00:00:00.0', 35398.77000000002)
('2014-01-14 00:00:00.0', 37722.18999999999)
('2014-01-15 00:00:00.0', 50622.13999999999)
('2014-01-16 00:00:00.0', 42362.41000000001)
('2014-01-17 00:00:00.0', 30960.350000000013)
('2014-01-18 00:00:00.0', 32200.40000000001)
('2014-01-19 00:00:00.0', 41023.100000000035)
('2014-01-20 00:00:00.0', 43416.320000000014)
('2014-01-21 00:00:00.0', 56125.68000000002)
('2014-01-22 00:00:00.0', 49359.940000000024)
('2014-01-23 00:00:00.0', 39708.67000000002)
('2014-01-24 00:00:00.0', 33855.51000000002)
('2014-01-25 00:00:00.0', 24904.589999999997)
('2014-01-26 00:00:00.0', 29745.370000000014)
('2014-01-27 00:00:00.0', 31953.460000000032)
('2014-01-28 00:00:00.0', 38419.64000000001)
('2014-01-29 00:00:00.0', 39289.22000000002)
('2014-01-30 00:00:00.0', 58597.630000000056)
('2014-01-31 00:00:00.0', 39644.18000000001)
('2014-02-01 00:00:00.0', 61728.83000000003)
('2014-02-02 00:00:00.0', 46107.80000000001)
('2014-02-03 00:00:00.0', 35289.490000000034)
('2014-02-04 00:00:00.0', 31007.720000000027)
('2014-02-05 00:00:00.0', 33024.50000000002)
('2014-02-06 00:00:00.0', 49387.44000000004)
('2014-02-07 00:00:00.0', 57567.06000000002)
('2014-02-08 00:00:00.0', 36592.89000000001)
('2014-02-09 00:00:00.0', 56832.64000000004)
('2014-02-10 00:00:00.0', 42235.009999999995)
('2014-02-11 00:00:00.0', 48997.96000000003)
('2014-02-12 00:00:00.0', 50236.11000000005)
('2014-02-13 00:00:00.0', 42120.190000000024)
('2014-02-14 00:00:00.0', 39034.85000000001)
('2014-02-15 00:00:00.0', 41424.03000000002)
('2014-02-16 00:00:00.0', 55914.86000000001)
('2014-02-17 00:00:00.0', 33943.130000000005)
('2014-02-18 00:00:00.0', 45412.09000000002)
('2014-02-19 00:00:00.0', 61760.47000000001)
('2014-02-20 00:00:00.0', 32657.94000000002)
('2014-02-21 00:00:00.0', 43626.19)
('2014-02-22 00:00:00.0', 29125.65000000001)
('2014-02-23 00:00:00.0', 25790.100000000013)
('2014-02-24 00:00:00.0', 38936.61000000002)
('2014-02-25 00:00:00.0', 51884.35999999999)
('2014-02-26 00:00:00.0', 28355.31000000002)
('2014-02-27 00:00:00.0', 42939.23000000003)
('2014-02-28 00:00:00.0', 55837.63000000001)
('2014-03-01 00:00:00.0', 59638.10000000008)
('2014-03-02 00:00:00.0', 24987.28999999999)
('2014-03-03 00:00:00.0', 52553.41000000002)
('2014-03-04 00:00:00.0', 62831.72000000006)
('2014-03-05 00:00:00.0', 43432.31000000001)
('2014-03-06 00:00:00.0', 42483.27000000002)
('2014-03-07 00:00:00.0', 37843.400000000016)
('2014-03-08 00:00:00.0', 30189.260000000002)
('2014-03-10 00:00:00.0', 45308.35000000002)
('2014-03-11 00:00:00.0', 52639.99999999999)
('2014-03-12 00:00:00.0', 54095.62000000002)
('2014-03-13 00:00:00.0', 29295.449999999997)
('2014-03-14 00:00:00.0', 41192.26)
('2014-03-15 00:00:00.0', 63152.50000000004)
('2014-03-16 00:00:00.0', 38365.37000000003)
('2014-03-17 00:00:00.0', 24116.290000000005)
('2014-03-18 00:00:00.0', 45921.40000000003)
('2014-03-19 00:00:00.0', 32967.69000000004)
('2014-03-20 00:00:00.0', 43765.02999999999)
('2014-03-21 00:00:00.0', 43110.200000000004)
('2014-03-22 00:00:00.0', 44681.660000000054)
('2014-03-23 00:00:00.0', 47595.67000000004)
('2014-03-24 00:00:00.0', 28311.830000000013)
('2014-03-25 00:00:00.0', 27971.809999999994)
('2014-03-26 00:00:00.0', 57003.35000000004)
('2014-03-27 00:00:00.0', 28715.85)
('2014-03-28 00:00:00.0', 39055.89000000001)
('2014-03-29 00:00:00.0', 25141.210000000003)
('2014-03-30 00:00:00.0', 52406.98)
('2014-03-31 00:00:00.0', 52577.80000000001)
('2014-04-01 00:00:00.0', 45120.72000000002)
('2014-04-02 00:00:00.0', 59433.90000000002)
('2014-04-03 00:00:00.0', 59739.64000000001)
('2014-04-04 00:00:00.0', 44999.06000000001)
('2014-04-05 00:00:00.0', 38649.45000000001)
('2014-04-06 00:00:00.0', 24499.76999999999)
('2014-04-07 00:00:00.0', 23276.49000000001)
('2014-04-08 00:00:00.0', 64946.34999999997)
('2014-04-09 00:00:00.0', 55083.71)
('2014-04-10 00:00:00.0', 56164.47000000009)
('2014-04-11 00:00:00.0', 28549.61000000002)
('2014-04-12 00:00:00.0', 45050.14000000001)
('2014-04-13 00:00:00.0', 26509.22000000001)
('2014-04-14 00:00:00.0', 24651.149999999998)
('2014-04-15 00:00:00.0', 50142.22000000004)
('2014-04-16 00:00:00.0', 35573.73000000002)
('2014-04-17 00:00:00.0', 22801.20999999999)
('2014-04-18 00:00:00.0', 56576.99000000003)
('2014-04-19 00:00:00.0', 20096.879999999994)
('2014-04-20 00:00:00.0', 39668.43000000003)
('2014-04-21 00:00:00.0', 59450.960000000065)
('2014-04-22 00:00:00.0', 32595.34000000001)
('2014-04-23 00:00:00.0', 50882.21000000003)
('2014-04-24 00:00:00.0', 22412.479999999996)
('2014-04-25 00:00:00.0', 50709.08000000002)
('2014-04-26 00:00:00.0', 53644.32)
('2014-04-27 00:00:00.0', 51951.35000000003)
('2014-04-28 00:00:00.0', 26639.170000000002)
('2014-04-29 00:00:00.0', 50640.19999999997)
('2014-04-30 00:00:00.0', 29265.27000000002)
('2014-05-01 00:00:00.0', 35115.860000000015)
('2014-05-02 00:00:00.0', 42595.32000000004)
('2014-05-03 00:00:00.0', 49541.22)
('2014-05-04 00:00:00.0', 31853.800000000025)
('2014-05-05 00:00:00.0', 37446.950000000026)
('2014-05-06 00:00:00.0', 60351.47000000003)
('2014-05-07 00:00:00.0', 45749.36000000003)
('2014-05-08 00:00:00.0', 23799.37000000001)
('2014-05-09 00:00:00.0', 58179.94000000006)
('2014-05-10 00:00:00.0', 45317.70000000004)
('2014-05-11 00:00:00.0', 50208.32999999998)
('2014-05-12 00:00:00.0', 56425.12000000006)
('2014-05-13 00:00:00.0', 42087.86)
('2014-05-14 00:00:00.0', 34438.96000000004)
('2014-05-15 00:00:00.0', 37915.64000000002)
('2014-05-16 00:00:00.0', 58199.33000000006)
('2014-05-17 00:00:00.0', 37597.890000000014)
('2014-05-18 00:00:00.0', 45916.510000000046)
('2014-05-19 00:00:00.0', 23506.14)
('2014-05-20 00:00:00.0', 58815.34000000007)
('2014-05-21 00:00:00.0', 37235.680000000015)
('2014-05-22 00:00:00.0', 27360.240000000013)
('2014-05-23 00:00:00.0', 32692.170000000016)
('2014-05-24 00:00:00.0', 42000.88000000005)
('2014-05-25 00:00:00.0', 23337.369999999995)
('2014-05-26 00:00:00.0', 33543.47000000003)
('2014-05-27 00:00:00.0', 19599.899999999998)
('2014-05-28 00:00:00.0', 47568.880000000034)
('2014-05-29 00:00:00.0', 36508.84999999999)
('2014-05-30 00:00:00.0', 17890.909999999985)
('2014-05-31 00:00:00.0', 28878.870000000014)
('2014-06-01 00:00:00.0', 48739.480000000025)
('2014-06-02 00:00:00.0', 48739.61000000005)
('2014-06-03 00:00:00.0', 29006.20000000001)
('2014-06-04 00:00:00.0', 30716.829999999998)
('2014-06-05 00:00:00.0', 21356.54999999999)
('2014-06-06 00:00:00.0', 41585.53000000002)
('2014-06-07 00:00:00.0', 45416.960000000036)
('2014-06-08 00:00:00.0', 44198.310000000034)
('2014-06-09 00:00:00.0', 57699.66000000003)
('2014-06-10 00:00:00.0', 25324.14000000001)
('2014-06-11 00:00:00.0', 37022.75000000001)
('2014-06-12 00:00:00.0', 36665.20000000002)
('2014-06-13 00:00:00.0', 52380.18000000003)
('2014-06-14 00:00:00.0', 55322.960000000036)
('2014-06-15 00:00:00.0', 26046.930000000015)
('2014-06-16 00:00:00.0', 48551.890000000036)
('2014-06-17 00:00:00.0', 37943.73000000003)
('2014-06-18 00:00:00.0', 42521.53000000004)
('2014-06-19 00:00:00.0', 65047.410000000025)
('2014-06-20 00:00:00.0', 37560.62000000002)
('2014-06-21 00:00:00.0', 20886.60999999999)
('2014-06-22 00:00:00.0', 28496.820000000007)
('2014-06-23 00:00:00.0', 28925.88000000002)
('2014-06-24 00:00:00.0', 30317.520000000022)
('2014-06-25 00:00:00.0', 50005.97000000002)
('2014-06-26 00:00:00.0', 35789.120000000024)
('2014-06-27 00:00:00.0', 60048.680000000015)
('2014-06-28 00:00:00.0', 28673.38000000001)
('2014-06-29 00:00:00.0', 27772.93000000001)
('2014-06-30 00:00:00.0', 36990.67999999999)
('2014-07-01 00:00:00.0', 40165.66000000004)
('2014-07-02 00:00:00.0', 26480.010000000006)
('2014-07-03 00:00:00.0', 37756.80000000001)
('2014-07-04 00:00:00.0', 25467.710000000006)
('2014-07-05 00:00:00.0', 47214.680000000015)
('2014-07-06 00:00:00.0', 16451.759999999987)
('2014-07-07 00:00:00.0', 35441.490000000005)
('2014-07-08 00:00:00.0', 50434.81000000005)
('2014-07-09 00:00:00.0', 36929.91)
('2014-07-10 00:00:00.0', 47826.020000000004)
('2014-07-11 00:00:00.0', 29596.32)
('2014-07-12 00:00:00.0', 38449.77000000001)
('2014-07-13 00:00:00.0', 40410.99000000001)
('2014-07-14 00:00:00.0', 29937.520000000026)
('2014-07-15 00:00:00.0', 53480.23000000002)
('2014-07-16 00:00:00.0', 43011.92000000002)
('2014-07-17 00:00:00.0', 36384.77)
('2014-07-18 00:00:00.0', 43856.60000000001)
('2014-07-19 00:00:00.0', 38420.99)
('2014-07-20 00:00:00.0', 60047.45000000003)
('2014-07-21 00:00:00.0', 51427.70000000003)
('2014-07-22 00:00:00.0', 36717.240000000005)
('2014-07-23 00:00:00.0', 38795.229999999996)
('2014-07-24 00:00:00.0', 50885.190000000024)

## Exercises
* Get number of records by status (using orders data)
* Get number of orders per month (using orders data)
* Get those order items where order item subtotal is not equal to order item quantity multiplied by order item product price
* Get all those order details from orders where there are no corresponding order items
* Get all those products whose daily revenue is more than $1000 – we need order_date, product_id and product_revenue